# .gitignore
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite
*.db
.env
.venv
.vscode
.idea
.DS_Store
*~

# gemcli scratch files
data/*
!data/models.json
*.ods

/.chroma/

# Streamlit state
gemcli_ui/.streamlit/
gemcli_ui/__pycache__/
