# requirements.txt
requests>=2.31.0
streamlit>=1.30.0
black>=24.3.0  # optional: used by format_python_files
graphviz

# Optional future extensions:
openai
# google-generativeai
# deepseek

chroma-hnswlib
chromadb
sentence-transformers
PyMuPDF
pypdf
pytesseract

matplotlib
pandas

